<?xml version="1.0" encoding="UTF-8"?>
<phpunit>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">../</directory>
            <file></file>
            <exclude>
                <directory suffix=".php">../tests</directory>
                <file></file>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
